html, body{
	padding:0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#mainContent{
	background-image: url("../images/arena.png");
	height:100%;
	width:100%;
}

h1 {
	font-size: 30px;
	color: #ccc;
	margin:5px;
}
p {
	font-size: 20px;
}


/*panel stuff*/
.panel{
	position: fixed;
	height: 100%;
	width: 20%;
	top:0;
	padding: 20px;
	border:1px solid black;
	text-align: center;
}
.thumbnail{
	height:50px;
	margin: 10px;
	/*border:1px solid black;*/
	width:auto;
	clear:both;
}
.topRow{
	height: 300px;
}
.topRow * {
	float:left;
}
.thumbnailHolder{
	height: 100%;
	width: 80px;
}

/*UserSide*/
#pnlUser{
	left:0;
	background: #000088;
}
#pnlUser .thumbnailHolder {
	float:right;
}
/*This is not used*/
#btnUser{
	position: fixed;
	left: 0;
	top: 0;
	height: 100px;
	width: 25px;
	border:1px solid black;
	background: #000088;
	display: none;
}
#leftSelect{
	position: absolute;
	bottom: 50px;
	right: 15px;
	display: none;
}




/*Enemy side*/
#pnlEnemy{
	right:0;
	background: #880000;
	display: none;
}
#pnlEnemy img {
	float:right;
}
/*This is not used*/
#btnEnemy{
	position: fixed;
	right: 0;
	top: 0;
	height: 100px;
	width: 25px;
	border:1px solid black;
	background: #000088;
	display: none;
}
#rightSelect{
	position: absolute;
	bottom: 50px;
	left: 15px;
}

/*Main Contenet*/
#arena{
	width:300px;
	height: 150px;
	position: relative;
	top: 60%;
	left: 40%;
/*	border:1px solid black;*/
}
#arena img {
	position: absolute;
	float:left;
}
/*right side image*/
#arena img:nth-child(2) {
	position: absolute;
	right:0px;
}
#attackButton{
	position: absolute;
	width:100px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
#healthBars{
	position: absolute;
	top: 85%;
	left:40%;
	height: 40px;
	width: 300px;

}
.backBar{
	background: #333;
	padding: 5px;
	width: 120px;
	height: 100%;
	float:left;
	box-sizing: border-box;
}
.backBar:nth-child(2){
	float:right;
}
.healthBar{
	background: yellow;
	width:100%;
	height: 100%;
	float: left;

}
.healthBar:nth-child(2){
	float:right;
}