html, body{
	padding:0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#mainContent{
	background-image: url("../images/arena.png");
	height:100%;
	width:100%;
}

h1 {
	font-size: 30px;
	color: #ccc;
	margin:5px;
}
p {
	font-size: 20px;
}


/*panel stuff*/
.panel{
	position: fixed;
	height: 100%;
	width: 20%;
	top:0;
	padding: 20px;
	border:1px solid black;
	text-align: center;
}
.thumbnail{
	height:50px;
	margin: 10px;
	/*border:1px solid black;*/
	width:auto;
	clear:both;
}
.topRow{
	height: 300px;
}
.topRow * {
	float:left;
}
.thumbnailHolder{
	height: 100%;
	width: 80px;
}

/*UserSide*/
#pnlUser{
	left:0;
	background: #000088;
}
#pnlUser .thumbnailHolder {
	float:right;
}
#btnUser{
	position: fixed;
	left: 0;
	top: 0;
	height: 100px;
	width: 25px;
	border:1px solid black;
	background: #000088;
	visibility: hidden;
}
#leftSelect{
	position: absolute;
	bottom: 50px;
	right: 15px;
}




/*Enemy side*/
#pnlEnemy{
	right:0;
	background: #880000;
}
#pnlEnemy img {
	float:right;
}
#btnEnemy{
	position: fixed;
	right: 0;
	top: 0;
	height: 100px;
	width: 25px;
	border:1px solid black;
	background: #000088;
	visibility: hidden;
}
#rightSelect{
	position: absolute;
	bottom: 50px;
	left: 15px;
}
