html, body{
	padding:0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-image: url("../images/arena.png");
	background-size: 100%;
}
#mainContent{
	height:100%;
	width:100%;
}

h1 {
	font-size: 30px;
	color: #ccc;
	margin:5px;
}
p {
	font-size: 20px;
	/*color: #222;*/
}


/*panel stuff*/
.panel{
	position: fixed;
	height: 100%;
	width: 20%;
	top:0;
	padding: 20px;
	border:1px solid black;
	text-align: center;
}
.thumbnail{
	height:50px;
	margin: 10px;
	/*border:1px solid black;*/
	width:auto;
	clear:both;
}
.topRow{
	height: 300px;
}
.topRow * {
	float:left;
}
.thumbnailHolder{
	height: 100%;
	width: 80px;
}

/*UserSide*/
#pnl0{
	left:0;
	background: #134eaf;
}
#pnl0 .thumbnailHolder {
	float:right;
}

#Select0{
	position: relative;
	top:10px;
	display: none;
	height: 50px;
	width: 200px;
}




/*Enemy side*/
#pnl1{
	right:0;
	background: #880000;
	display: none;
}
#pnl1 img {
	float:right;
}

#Select1{
	position: relative;
	top:10px;
	display: none;
	height: 50px;
	width: 200px;
}

/*Main Contenet*/
#arena{
	width:300px;
	height: 150px;
	position: relative;
	top: 60%;
	left: 40%;
/*	border:1px solid black;*/
}
#arena img {
	position: absolute;
	/*float:left;*/
	/*causing a bug in safari*/
}
/*right side image*/
#arena img:nth-child(2) {
	position: absolute;
	right:0px;
}
#attackButton{
	position: absolute;
	width:100px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
/*health bars for each unit*/
#healthBars{
	position: absolute;
	top: 85%;
	left:40%;
	height: 40px;
	width: 300px;
	display: none;

}
.backBar{
	background: #333;
	padding: 5px;
	width: 120px;
	height: 100%;
	float:left;
	box-sizing: border-box;
}
.backBar:nth-child(2){
	float:right;
}
.healthBar{
	background: yellow;
	width:100%;
	height: 100%;
	position: relative;
	left:0;

}
.healthBar:nth-child(2){
	left:0;
}

/*game over screen*/
#gameOver{
	position: absolute;
	width:50%;
	left:25%;
	background: #f00;
	height: 40%;
	top:20%;
	text-align: center;
	display: none;
}
#gameOver h1{
	position: relative;
	top:50%;
	transform: translateY(-50%);
	font-size: 50px;
}
#gameOver p{
	position: relative;
	top:50%;

}